{% extends "base.html" %} {% block content %}

<div class="mb-4">
  <h2>Applications (Company Dashboard)</h2>
  <div class="mb-4">
    <div class="btn-group">
      <a
        href="?status=all"
        class="btn {% if current_status == 'all' %}btn-dark{% else %}btn-outline-dark{% endif %}"
      >
        All
      </a>

      <a
        href="?status=pending"
        class="btn {% if current_status == 'pending' %}btn-warning{% else %}btn-outline-warning{% endif %}"
      >
        Pending
      </a>

      <a
        href="?status=accepted"
        class="btn {% if current_status == 'accepted' %}btn-success{% else %}btn-outline-success{% endif %}"
      >
        Accepted
      </a>

      <a
        href="?status=rejected"
        class="btn {% if current_status == 'rejected' %}btn-danger{% else %}btn-outline-danger{% endif %}"
      >
        Rejected
      </a>
    </div>
  </div>
</div>

<div class="row">
  {% for app in applications %}
  <div class="col-md-6 mb-3">
    <div class="card shadow-sm p-3 h-100">
      <h5 class="mb-2">{{ app.internship.title }}</h5>

      <p class="mb-1">
        <strong>Student:</strong>
        {{ app.student.profile.full_name|default:app.student.username }}
      </p>

      <a
        href="{% url 'public_profile' app.student.id %}"
        class="btn btn-sm btn-outline-primary mb-2"
      >
        View Profile
      </a>

      <p class="mb-1">
        <strong>Location:</strong> {{ app.internship.location }}
      </p>

      <p class="mb-2">
        <strong>Status:</strong>

        {% if app.status == "pending" %}
        <span class="badge bg-warning text-dark">Pending</span>
        {% elif app.status == "accepted" %}
        <span class="badge bg-success">Accepted</span>
        {% else %}
        <span class="badge bg-danger">Rejected</span>
        {% endif %}
      </p>

      {% if app.status == "pending" %}
      <div class="d-flex gap-2">
        <a
          href="{% url 'update_application' app.id 'accepted' %}"
          class="btn btn-success btn-sm"
        >
          Accept
        </a>

        <a
          href="{% url 'update_application' app.id 'rejected' %}"
          class="btn btn-danger btn-sm"
        >
          Reject
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% empty %}
  <div class="col-12">
    <div class="alert alert-info">No applications received yet.</div>
  </div>
  {% endfor %}
</div>

{% endblock %}
