{% extends "base.html" %}

{% block content %}

<div class="mb-4">
    <h2>My Profile</h2>
    <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-primary">
        Edit Profile
    </a>
</div>

<div class="card shadow-sm p-4">

    <p><strong>Username:</strong> {{ profile.user.username }}</p>
<p><strong>Role:</strong> {{ profile.user_type }}</p>

<hr>

{% if profile.user_type == "student" %}

    <h4 class="mb-3">Student Profile</h4>

    <p><strong>Full Name:</strong> {{ profile.full_name|default:"Not provided" }}</p>
    <p><strong>University:</strong> {{ profile.university|default:"Not provided" }}</p>
    <p><strong>Degree:</strong> {{ profile.degree|default:"Not provided" }}</p>
    <p><strong>Skills:</strong> {{ profile.skills|default:"Not provided" }}</p>
    <p><strong>Bio:</strong> {{ profile.bio|default:"Not provided" }}</p>

    <hr>

    <h5>CV</h5>

    {% if profile.cv %}
        <a href="{{ profile.cv.url }}" target="_blank" class="btn btn-outline-primary btn-sm">
            📄 View CV
        </a>
    {% else %}
        <p class="text-muted">Not provided</p>
    {% endif %}

{% else %}

    <h4 class="mb-3">Company Profile</h4>

    <p><strong>Company Name:</strong> {{ profile.company_name|default:"Not provided" }}</p>
    <p><strong>Industry:</strong> {{ profile.industry|default:"Not provided" }}</p>
    <p><strong>Website:</strong> {{ profile.website|default:"Not provided" }}</p>
    <p><strong>Location:</strong> {{ profile.location|default:"Not provided" }}</p>

{% endif %}

</div>

{% endblock %}