{% extends "base.html" %} {% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm p-4 mt-5">
      <h3 class="mb-4 text-center">Create Account</h3>

      <form method="POST">
        {% csrf_token %} {% if form.errors %}
        <div class="alert alert-danger">
          <strong>Please fix the following:</strong>

          <ul class="mb-0 mt-2">
            {% for field in form %} {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="mb-3">
          <label class="form-label">Username</label>
          {{ form.username }}
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          {{ form.password1 }}
        </div>

        <div class="mb-3">
          <label class="form-label">Confirm Password</label>
          {{ form.password2 }}
        </div>

        <div class="mb-3">
          <label class="form-label">Account Type</label>
          {{ form.user_type }}
        </div>

        <button type="submit" class="btn btn-success w-100">
          Create Account
        </button>
      </form>

      <hr />

      <p class="text-center mb-0">
        Already have an account?
        <a href="{% url 'login' %}"> Login </a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
